{% load static %}
body {
    padding: 0;
    margin: 0;
    background: url(back.jpg) no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #463333;
}

header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 150px;
    width:96%;
    margin-left: 2%;
    background-color: #ab3333;
    opacity:0.8;
}

.header__h2 {
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.header__nav {
    margin-right: 20px;
}

.form {
    margin-top: 5%;
    padding: 20px 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ab3333;
    opacity: 0.8;
}

.form__div {
margin-top: 0;
}

input {
  display: block;
  width: 90%;
  margin-top: 5%;
  border-radius: 5px;
  padding: 2%;
  border: 2px solid black;
}

label {
  margin-top: 20px;
  margin-bottom: 10px;
}


.form__button, .nav__button {
  background-color: #1b1b1b;
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.form__hr {
    margin-bottom: 30px;
}