a.h2 {
  color: #463333;
}

a {
  text-decoration: none!important;
}

header {
  background-color: #ff9d37;
}

form {
  border-radius: 5px;
  background-color: #ff9d37;
  /* font-size: 20px; */
}

.helptext {
  color: grey;
}

.form-register input[maxlength], #id_password {
  display: block;
  width: 98%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 1%

}

label {
  /* font-style: italic; */
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  /* color:grey; */
  /* font-weight: bold; */
}

textarea{
  width: 98%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 1%
}
.form-control {
  border-color: #6c757d!important;
  background-color: #f3f3f3!important;
}

#file_upload_button {
  background-color: black!important;
  padding: 10px;
}

.user-images {
  width: 72px;
  height: 72px;
  border-radius: 20%;
  margin-left: 20px;
  border-color: #6c757d
}
