{% load static %}
@font-face {
    font-family: 'MyWebFont';

    src: url('19797.ttf');
}


body {
    padding: 0;
    margin: 0;
    background: url(back.jpg) no-repeat;
    background-size: cover;
    font-family: MyWebFont, sans-serif;
}

a {
    text-decoration: none;
    color: #463333;
}

header {
    margin-top: 1%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 150px;
    width:96%;
    margin-left: 2%;
    background-color: #ab3333;
    opacity:0.8;
    border-radius: 10px;
}

.header__h2 {
    margin-left: 30px;
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 25px;
}

.header__nav {
    margin-right: 20px;
}

.form {
    margin-top: 5%;
    padding: 20px 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ab3333;
    opacity: 0.8;
    text-align: center;
}

.form__p {
margin-bottom: 30px;
}

input {
  display: block;
  width: 90%;
  border-radius: 5px;
  padding: 2%;
  border: 2px solid black;
}


.form__button, .nav__button {
  background-color: #1b1b1b;
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  font-family: MyWebFont, sans-serif;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.form__hr {
    margin-bottom: 30px;
}

.helptext {
    color: #474a5f;
    font-size: 10px;
    margin-top: 5px;
}

.form__button:hover {
	animation: bounce 1s;
}


label {
    font-size: 20px;
}