{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'h_work_15/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-lg rounded">
    <a class="display-4 h2 ms-5 me-md-auto fw-bold" href="{% url 'home' %}">Simply</a>

    <nav class="my-2 my-md-0 me-md-3">
        {% if not user.is_authenticated %}
          <a href="{% url 'reg' %}" class="nav__reg">
          <button class="btn btn-warning shadow-lg rounded">Регистрация</button>
          </a>
          <a href="{% url 'user' %}" class="nav__reg">
          <button class="btn btn-info ms-2 shadow-lg rounded">Войти</button>
          </a>
        {% else %}
          <a href="{% url 'profile' %}" class="nav__reg">
          <button class="btn btn-warning shadow-lg rounded">Профиль</button>
          </a>
          <a href="{% url 'exit' %}" class="nav__reg">
          <button class="btn btn-info ms-2 shadow-lg rounded">Выйти</button>
          </a>
          <a href="{% url 'link-add' %}" class="nav__reg">
          <button class="btn btn-info ms-2 shadow-lg rounded">Добавить статью</button>
          </a>
        {% endif %}
      <a class="p-2 text-dark" href="{% url 'uslugi' %}">Услуги</a>
      <a class="p-2 text-dark" href="{% url 'link' %}">Новости</a>
      <a class="p-2 text-dark" href="{% url 'about' %}">Про нас</a>
    </nav>
  </header>
  <main class="container">
    {% if messages %}
      {% for mes in messages %}
        <div class="alert alert-success">Вы были успешно зарегистрированы!</div>
      {% endfor %}
    {% endif %}

    {% block main %}

    {% endblock %}

</body>
</html>
