{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'link/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="header">
    <a class="header__a" href="{% url 'home' %}">
      <h2 class="header__h2">Режем</h2>
    </a>

    <nav class="header__nav">
        {% if not user.is_authenticated %}
          <a href="{% url 'reg' %}" class="nav__reg">
          <button class="nav__button">Регистрация</button>
          </a>
          <a href="{% url 'user' %}" class="nav__reg">
          <button class="nav__button">Войти</button>
          </a>
        {% else %}
          <a href="{% url 'profile' %}" class="nav__reg">
          <button class="nav__button">Профиль</button>
          </a>
          <a href="{% url 'exit' %}" class="nav__reg">
          <button class="nav__button">Выйти</button>
          </a>
          <a href="{% url 'link-add' %}" class="nav__reg">
          <button class="nav__button">Добавить статью</button>
          </a>
        {% endif %}
<!--      <a class="nav__button" href="{% url 'uslugi' %}">Услуги</a>-->
      <a class="nav__button" href="{% url 'link' %}">Ссылки</a>
<!--      <a class="nav__button" href="{% url 'about' %}">Про нас</a>-->
    </nav>
  </header>
  <main class="form">
    {% if messages %}
    {% for mes in messages %}
    <div class="alert">Вы были успешно зарегистрированы!</div>
    {% endfor %}
    {% endif %}

    {% block main %}

    {% endblock %}

  </main>

</body>
</html>
