{% extends 'link/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <form class="form">
    <div class="form__div">
      <h2 class="form__h2">Ссылки</h2>
      {% for post in link %}
      {% if post.autor == user %}
        <p class="form__h3">{{ post.title }}</p>
        <hr>
        <a href="{{ post.long_link }}" target="blank"><p>link/{{ post.slug }}</p></a>
        <div class="">
            <p>Автор: <b>{{ post.autor }}</b></p>
        </div>
        <hr class="form__hr">
        <a href="{% url 'link-detail' post.slug %}" class="form__button">Читать далее</a>
      {% endif %}
      {% endfor %}
      <a href="{% url 'link-add' %}" class="form__button">Добавить ссылку</a>
    </div>
  </form>
{% endblock %}
