{% extends 'link/base.html' %}

{% block title %}
  Удаление статьи
{% endblock %}

{% block main %}
  <main class="form">
    <div class="form__div">
      <h2 class="form__h2">Вы точно хотите удалить статью {{ object.title }}</h2>
      <form method="post" class="">
        {% csrf_token %}
        <button class="form__button" type="submit">Да, удалить</button>
        <a href="{% url 'link-detail' object.slug %}" class="form__button">Нет, отмена</a>
      </form>
    <hr class="">
    </div>
  </main>
{% endblock %}
