{% extends 'link/base.html' %}

{% block title %}
  Удаление ссылки
{% endblock %}

{% block main %}
  <main class="form">
    <div class="form__div">
      <p class="form__h2">Вы точно хотите удалить ссылку {{ object.title }}</p>
      <form method="post" class="">
        {% csrf_token %}
        <hr class="ащкь__рк">
        <button class="form__button" type="submit">Да, удалить</button>
        <a href="{% url 'link-detail' object.slug %}" class="form__button">Нет, отмена</a>
      </form>
    </div>
  </main>
{% endblock %}
