{% extends 'link/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <form class="form">
    <div class="form__div">
      <h2 class="form__h2">Новости</h2>
      <h3 class="">{{ object.title }}</h3>
      <hr>
      <p>{{ object.slug }}</p>
      <div class="">
        <div class="">
          <p>Автор: <b>{{ object.autor }}</b></p>
        </div>
      </div>
      <hr class="mb-3">
      {% if object.autor == user %}
      <a href="{% url 'link-update' object.slug %}" class="form__button">Редактировать статью</a>
      <a href="{% url 'link-delete' object.slug %}" class="form__button">Удалить статью</a>
      {% endif %}
    </div>
  </form>
{% endblock %}
