{% extends 'link/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}

  <h2 class="mb-5">Новости</h2>

  <form class="p-5">
    <div class="container">

      {% for post in link %}
      {% if post.autor == user %}
        <h3 class="ms-5">{{ post.title }}</h3>
        <hr>
        <p>{{ post.slug }}</p>
        <div class="d-flex">
          <div class="ms-3">

            <p>Автор: <b>{{ post.autor }}</b></p>

          </div>
        </div>
        <hr class="mb-3">

        <a href="{% url 'link-detail' post.slug %}" class="btn btn-warning mt-1 mb-5 ms-2 shadow-lg">Читать далее</a>
      {% endif %}
      {% endfor %}
    </div>
    <a href="{% url 'link-add' %}" class="btn btn-warning mt-1 mb-5 ms-2 shadow-lg">Добавить статью</a>
  </form>

{% endblock %}
