{% extends 'link/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <form class="form">
    <div class="form__div">
      <h2 class="form__h2">Ссылки</h2>
      <h3 class="">{{ object.title }}</h3>
      <hr>
      <a href="{{ post.long_link }}" target="blank"><p>link/{{ post.slug }}</p></a>
      <div class="">
        <div class="">
          <p>Владелец: <b>{{ object.autor }}</b></p>
        </div>
      </div>
      <hr class="form__hr">
      {% if object.autor == user %}
      <a href="{% url 'link-update' object.slug %}" class="form__button">Редактировать ссылку</a>
      <a href="{% url 'link-delete' object.slug %}" class="form__button">Удалить ссылку</a>
      {% endif %}
    </div>
  </form>
{% endblock %}
