{% extends 'link/base.html' %}

{% block title %}
Услуги
{% endblock %}

{% block main %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2 class="display-3 fw-bold mt-5">Страница с услугами</h2>
    </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-bold">Быстро</h4>
          </div>
          <div class="card-body">
            <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ullam sint neque aperiam quam nesciunt, rerum accusantium et quas provident.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-bold">Дешево</h4>
        </div>
        <div class="card-body">
          <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ullam sint neque aperiam quam nesciunt, rerum accusantium et quas provident.</p>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-bold">Качественно</h4>
        </div>
        <div class="card-body">
          <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ullam sint neque aperiam quam nesciunt, rerum accusantium et quas provident.</p>
        </div>
      </div>
      </div>
      <h6 class="mt-1 mx-auto">P.S. Выберите только 2 варианта</h6>
    </div>
  {% endblock %}
