{% extends 'link/base.html' %}

{% block title %}
  Профиль {{ user.username }}
{% endblock %}

{% block main %}
  <form method="post" enctype="multipart/form-data" class="form">
    <div class="form__div">
      <h2 class="form__h2">Кабинет пользователя</h2>
          @{{ user.username }}
          <br><br>
          {% if user.email %}
          <b>E-mail: </b>{{ user.email }}
          {% endif %}
      {% csrf_token %}
      {{ updateUserForm.as_p }}
      {{ profileForm.as_p }}
      <button class="form__button" type="submit">Обновить данные</button>
    </div>
  </form>
{% endblock %}
