{% extends 'link/base.html' %}

{% block title %}
  Регистрация нового пользователя
{% endblock %}

{% block main %}
  <main class="form">
    <div class="form__div">
      <h2 class="form__h3">Страница регистрации</h2>
      <form method="post" class="">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form__button" type="submit">Зарегистрироваться</button>
      </form>
      <hr class="">
      <a href="{% url 'user' %}"><button class="form__button" type="submit">Уже зарегистрированы?</button></a>
    </div>
  </main>
{% endblock %}
