{% extends 'link/base.html' %}

{% block title %}
  Авторизация
{% endblock %}

{% block main %}
  <main class="form">
    <div class="form__div">
      <h2 class="form__h2">Страница авторизации</h2>
    <form method="post" class="">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="form__button" type="submit">Войти</button>
    </form>
    <hr class="">
    <a href="{% url 'home' %}"><button class="form__button" type="submit">Уже зарегистрированы?</button></a>
    </div>
  </main>
{% endblock %}
